.bio-section {
    height: calc(100vh - calc(100vh - 100%));
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 130px 2rem 2rem 2rem;
}

.bio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    max-width: 1000px;
}

.bio-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bio-bg-icon {
    width: 65%;
    height: auto;
    opacity: 0.2;
    max-width: 750px;
}

.bio-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bio-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.skill-row {
    display: flex;
    gap: 1rem;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio-left p {
    line-height: 28px;
}

@media (max-width: 800px) {
    .bio-container {
        justify-content: flex-start;
        position: relative;
        overflow-y: auto;
    }

    .bio-container {
        flex-direction: column;
    }

    .bio-left,
    .bio-right {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .bio-left p {
        line-height: 24px;
    }

    .bio-right {
        padding-bottom: 40px;
    }

    .skill-icon {
        width: 2.5rem !important;
        height: auto;
    }
}
