.bio {
    display: flex;
    gap: 4rem;
}

.bio-right img {
    max-width: 250px;
    height: auto;
    border-radius: 5px;
}

.bio-left p {
    margin-bottom: 1rem;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    margin-bottom: 1rem;
}

.bio-left ul li {
    font-family: inherit;
}

.skill-entry {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.bio-left .resume-btn {
    font-size: clamp(16px, 7vw, 18px);
}
