.bio {
    display: flex;
    gap: 4rem;
}

.bio-right img {
    max-width: 250px;
    height: auto;
    border-radius: 5px;
}

.bio-left p {
    margin-bottom: 1rem;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    margin-bottom: 1rem;
}

.bio-left ul li {
    font-family: inherit;
}

.skill-entry {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.about-resume-btn {
    font-size: 14px;
    border: 1px solid var(--main-accent);
    color: var(--main-accent);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: clamp(16px, 7vw, 18px);
}

@media (max-width: 750px) {
    .bio {
        flex-direction: column;
        gap: 2rem;
    }

    .bio-right {
        display: flex;
        justify-content: center;
    }

    .bio-right img {
        width: 50vw;
    }

    .skills-list {
        gap: 0;
    }

    .skill-entry {
        font-size: 14px;
        gap: 0.25rem;
    }
}
