header {
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    z-index: 99;
}

.me {
    font-size: 24px;
    font-weight: 300;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.me,
.header-nav svg,
.hamburger {
    cursor: pointer;
}

.hamburger {
    position: relative;
    width: 40px;
    height: 20px;
}

.hamburger-bun {
    background-color: white;
    width: 40px;
    border-radius: 1px;
    position: absolute;
    height: 2px;
    transition: all 0.4s ease-in-out;
}

.top-bun {
    top: 0px;
}

.bottom-bun {
    top: 20px;
}

.top-bun.active,
.bottom-bun.active {
    transform-origin: right;
    width: calc(40px * 87.5%);
}

.top-bun.active {
    transform: rotate(-45deg);
    top: -4.5px;
}

.bottom-bun.active {
    transform: rotate(45deg);
    top: 24.5px;
}

@media (max-width: 500px) {
    .header-nav svg {
        display: none;
    }

    .me {
        font-size: 18px;
    }
}
