.home-contents {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section {
    position: relative;
    z-index: 2;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 100vw;
    overflow-x: hidden;
}

.title-div {
    position: relative;
    pointer-events: none;
    display: flex;
}

.title-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12vw;
    z-index: 50;
}

.text-name {
    font-family: "Didact Gothic", "Helvetica";
    font-size: 92px;
    text-transform: uppercase;
}

.bio {
    font-size: 24px;
}

.blocks {
    width: 250px;
    position: relative;
    height: 20px;
    margin: 2rem 0;
}

.block {
    position: absolute;
    background-color: var(--main-red);
    width: 80px;
    height: 4px;
    border-radius: 2px;
}

.left-block {
    top: 0px;
    left: 0;
}

.right-block {
    bottom: 0px;
    left: 40px;
}

.molecule-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50vw;
    width: 50vw;
    height: 100%;
}

.molecule {
    width: 100%;
}

.benzene-outer {
    width: 400px;
    height: 400px;
    background-color: white;
    clip-path: polygon(26% 6%, 74% 6%, 100% 50%, 74% 94%, 26% 94%, 0% 50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
}

.benzene-bond {
    position: absolute;
    width: 45%;
    height: 10px;
    z-index: 8;
    background-color: rgba(7, 33, 66, 0.3);
}

.top-bond {
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-left-bond {
    bottom: 30%;
    left: -3%;
    transform: rotate(60deg);
}

.molecule-container h1 {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 60px;
    letter-spacing: 10px;
    z-index: 50;
    color: var(--main-red);
    clip-path: none;
    text-shadow: 0 10px 15px rgb(2 11 22 / 20%);
}

.molecule-bg {
    clip-path: polygon(26% 6%, 74% 6%, 100% 50%, 74% 94%, 26% 94%, 0% 50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-first-layer {
    background-color: rgba(255, 255, 255, 0.2);
    height: 500px;
    width: 500px;
    z-index: 6;
}

.bg-second-layer {
    background-color: rgba(255, 255, 255, 0.15);
    height: 600px;
    width: 600px;
    z-index: 5;
}

.bg-third-layer {
    background-color: rgba(255, 255, 255, 0.1);
    height: 700px;
    width: 700px;
    z-index: 4;
}

.bg-fourth-layer {
    background-color: rgba(255, 255, 255, 0.05);
    height: 800px;
    width: 800px;
    z-index: 3;
}

.menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, var(--dark-blue), var(--main-red));
    z-index: 10;
    transition: top 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.menu ul {
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    display: flex;
    flex-direction: column;
}

.menu ul li {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.menu ul li:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.menu ul li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media (min-width: 500px) {
    .menu-links {
        display: none;
    }
}
