/* Home page sections */
.title-div {
    position: relative;
}

.title-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blocks {
    width: 250px;
    position: relative;
    height: 20px;
}

.block {
    position: absolute;
    background-color: var(--main-accent);
    width: 80px;
    height: 1px;
    border-radius: 2px;
}

.left-block {
    top: 0px;
    left: 0;
}

.right-block {
    bottom: 0px;
    left: 40px;
}

.p-truncate {
    max-width: 550px;
}

.title-call-to-action {
    padding: 1rem 1.5rem;
    align-self: flex-start;
}

.side-link-nav {
    position: fixed;
    top: 125px;
    left: 35px;
    right: 50px;
    width: 30px;
    height: calc(100vh - 175px);
    z-index: 2;
    display: flex;
}

.side-link-nav .block {
    height: 100%;
    width: 1px;
    background-color: var(--off-white);
}

.side-link-nav .contact-email {
    cursor: pointer;
    z-index: 5;
    transform: rotate(90deg);
    position: absolute;
    top: 25%;
    left: -70px;
    transition: all 0.2s;
}

.side-link-nav .contact-email:hover {
    color: var(--main-accent);
    transform: translateX(1px) rotate(90deg);
}

.socials-links {
    position: absolute;
    bottom: 10%;
    left: 8px;
    display: flex;
    flex-direction: column;
}

.social-link {
    cursor: pointer;
    transition: all 0.2s;
}

.social-link:hover {
    transform: translateX(1px);
}

.social-link:hover path {
    fill: var(--main-accent) !important;
}

/* Project Hero */
.hero-image-container {
    display: flex;
    align-items: center;
    position: absolute;
    width: 65%;
    height: 75%;
    top: 45%;
    left: 60%;
    transform: translate(-45%, -60%);
    margin: 100px 8% 0 auto;
}

.landscape {
    position: absolute;
    width: 100%;
    max-width: 750px;
    height: auto;
    overflow: hidden;
    filter: brightness(0.7);
}

.hero-image {
    position: absolute;
    width: 100%;
    max-width: 750px;
    aspect-ratio: 1.495/ 1;
    overflow: hidden;
    background-color: rgba(7, 33, 66);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.avatar {
    width: 45%;
    height: auto;
}

/* Contact Hero */
.contact-bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.contact-bio p {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.contact-bio p:hover {
    color: rgb(167, 165, 165);
}

.contact-links {
    display: flex;
    gap: 1.5rem;
}

/* Side menu */
.menu {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: min(75vw, 400px);
    height: 100vh;
    background-color: var(--lighter-bg);
    z-index: 10;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.menu ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu ul li {
    cursor: pointer;
}

.menu ul li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu-btn,
.menu-resume-btn {
    font-size: 22px;
}

.menu-btn {
    border: none;
    transition: all 0.2s;
}

.menu-btn:hover {
    background-color: transparent;
    color: var(--main-accent);
}

.menu-resume-btn {
    margin-top: 40px;
    padding: 0.5rem 1rem;
}

@media (max-width: 1050px) {
    .side-link-nav {
        display: none;
    }
}

@media (min-width: 500px) {
    .menu-links {
        display: none;
    }
}
