/* Progress Bar  */
.progress {
    position: fixed;
    left: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 8;
}

.progress-bar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    height: fit-content;
}

.progress-bar {
    cursor: pointer;
    width: 20px;
    height: 3px;
    background-color: rgb(170, 170, 170);
    transition: width 0.2s ease-in-out;
    border-radius: 1.5px;
}

.progress-bar.active {
    width: 40px;
    background-color: white;
}

/* Home page sections */
section {
    position: relative;
    z-index: 2;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 100vw;
    overflow: hidden;
}

.title-div {
    position: relative;
}

.title-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12vw;
    z-index: 50;
}

.text-name {
    font-size: 86px;
    text-transform: uppercase;
}

.bio {
    font-size: 24px;
    font-weight: 300;
}

.blocks {
    width: 250px;
    position: relative;
    height: 20px;
    margin: 1.5rem 0;
}

.block {
    position: absolute;
    background-color: var(--main-red);
    width: 80px;
    height: 4px;
    border-radius: 2px;
}

.left-block {
    top: 0px;
    left: 0;
}

.right-block {
    bottom: 0px;
    left: 40px;
}

.view-projects-btn,
.learn-more-btn {
    margin-top: 40px;
}

/* Benzene overlay */
.molecule-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50vw;
    width: 50vw;
    height: 100%;
}

.benzene-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50vw;
    width: 50vw;
    height: 100%;
}

.benzene-outer {
    width: 500px;
    aspect-ratio: 1 / 1;
    background-color: rgb(178, 176, 176);
    clip-path: polygon(26% 6%, 74% 6%, 100% 50%, 74% 94%, 26% 94%, 0% 50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
}

.benzene-bond {
    position: absolute;
    width: 45%;
    height: 2%;
    z-index: 8;
    background-color: rgb(216, 214, 214);
    transition: opacity 0.5s ease-in-out;
}

.top-bond {
    top: 11%;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-left-bond {
    bottom: 29%;
    left: -3%;
    transform: rotate(60deg);
}

.bottom-right-bond {
    transform: rotate(-60deg);
    bottom: 29%;
    right: -3%;
}

.benzene-overlay h1 {
    font-weight: bold;
    position: absolute;
    top: 38%;
    left: 0;
    font-size: 60px;
    letter-spacing: 5px;
    z-index: 50;
    color: var(--main-red);
    clip-path: none;
    text-shadow: 0 10px 15px rgb(2 11 22 / 20%);
}

.molecule-bg {
    clip-path: polygon(26% 6%, 74% 6%, 100% 50%, 74% 94%, 26% 94%, 0% 50%);
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-first-layer {
    background-color: rgba(255, 255, 255, 0.2);
    width: 600px;
    z-index: 6;
}

.bg-second-layer {
    background-color: rgba(255, 255, 255, 0.15);
    width: 700px;
    z-index: 5;
}

.bg-third-layer {
    background-color: rgba(255, 255, 255, 0.1);
    width: 800px;
    z-index: 4;
}

.bg-fourth-layer {
    background-color: rgba(255, 255, 255, 0.05);
    width: 900px;
    z-index: 3;
}

/* Project Hero */
.hero-image-container {
    display: flex;
    align-items: center;
    position: absolute;
    width: 65%;
    height: 75%;
    top: 45%;
    left: 60%;
    transform: translate(-45%, -60%);
    margin: 100px 8% 0 auto;
}

.landscape {
    position: absolute;
    width: 100%;
    max-width: 750px;
    height: auto;
    overflow: hidden;
    filter: brightness(0.7);
}

.hero-image {
    position: absolute;
    width: 100%;
    max-width: 750px;
    aspect-ratio: 1.495/ 1;
    overflow: hidden;
    background-color: rgba(7, 33, 66);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.avatar {
    width: 45%;
    height: auto;
}

/* Contact Hero */
.contact-bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.contact-bio p {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.contact-bio p:hover {
    color: rgb(167, 165, 165);
}

.contact-links {
    display: flex;
    gap: 1.5rem;
}

/* Side menu */
.menu {
    position: fixed;
    bottom: auto;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, var(--dark-blue), var(--main-red));
    z-index: 10;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.menu ul {
    font-size: 56px;
    text-align: center;
    line-height: 80px;
    display: flex;
    flex-direction: column;
}

.menu-container a p {
    font-size: 24px;
    transition: all 0.1s ease-in-out;
}

.menu-container a p:hover {
    color: rgb(167, 165, 165);
}

.menu ul li {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.menu ul li:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.menu ul li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.social-link path {
    transition: fill 0.1s ease-in-out;
}

.social-link:hover path {
    fill: rgb(167, 165, 165) !important;
}

@media (max-width: 1200px) {
    .title-text {
        left: 2rem;
    }

    .text-name {
        font-size: 72px;
    }

    .bio {
        font-size: 20px;
    }

    .benzene-overlay h1 {
        font-size: 42px;
        top: 38%;
    }

    .benzene-outer {
        width: 40vw;
    }

    .bg-first-layer {
        width: 48vw;
    }

    .bg-second-layer {
        width: 56vw;
    }

    .bg-third-layer {
        width: 64vw;
    }

    .bg-fourth-layer {
        width: 72vw;
    }

    .progress {
        left: initial;
        bottom: 50px;
        height: 40px;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        z-index: 9;
    }

    .progress-bar-container {
        flex-direction: row;
        align-items: flex-end;
        height: 40px;
    }

    .progress-bar {
        width: 3px;
        height: 20px;
        transition: height 0.2s ease-in-out;
    }

    .progress-bar.active {
        width: 3px;
        height: 40px;
    }
}

@media (min-width: 500px) {
    .menu-links {
        display: none;
    }
}

@media (max-width: 700px) {
    .menu ul {
        font-size: 40px;
        line-height: 65px;
    }

    .menu-container a p {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .benzene-overlay h1 {
        font-size: 28px;
        left: 2rem;
    }

    .molecule-container,
    .benzene-overlay {
        top: 3rem;
        left: 0;
        width: 100%;
        height: 50%;
    }

    .title-text {
        top: auto;
        bottom: 5%;
        width: calc(100% - 4rem);
    }

    .text-name {
        font-size: 46px;
    }

    .bio {
        font-size: 16px;
    }

    .benzene-outer {
        width: 50vw;
    }

    .bg-first-layer {
        width: 60vw;
    }

    .bg-second-layer {
        width: 70vw;
    }

    .bg-third-layer {
        width: 80vw;
    }

    .bg-fourth-layer {
        width: 90vw;
    }

    .hero-image-container {
        width: calc(100% - 4rem);
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
        height: 40%;
        margin: 60px 8% 0 auto;
    }
}
