.projects {
    position: relative;
    height: calc(100vh - calc(100vh - 100%));
    width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container {
    position: relative;
    width: 100%;
}

.project-media {
    position: relative;
    height: 100%;
}

.project-image {
    z-index: 1;
    position: absolute;
    width: 60%;
    height: auto;
    filter: brightness(0.8);
    border-radius: 5px;
}

.project-text {
    position: absolute;
    right: 0;
    left: auto;
    width: 50%;
    z-index: 2;
    text-align: right;
}
