.project-list-entry {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
}

.project-list-entry {
    margin-bottom: 6rem;
}

.project-container {
    position: relative;
}

.project-media {
    grid-area: 1 / 1 / -1 / 8;
    align-self: flex-start;
    z-index: 1;
}

.project-image {
    width: 100%;
    height: auto;
    z-index: 1;
    filter: brightness(0.8);
    border-radius: 5px;
    transition: all 0.2s;
}

.project-image-link:hover .project-image {
    filter: brightness(1);
}

.project-text {
    grid-area: 1 / 6 / -1 / -1;
    z-index: 2;
    text-align: right;
}

.project-list-entry:nth-child(2n + 2) .project-media {
    grid-area: 1 / 6 / -1 / -1;
}

.project-list-entry:nth-child(2n + 2) .project-text {
    grid-area: 1 / 8 / -1 / 1;
    text-align: left;
}

.project-text h2 {
    margin-bottom: 1rem;
}

.project-card {
    background-color: var(--lighter-bg);
    padding: 1.5rem;
    border-radius: 5px;
}

.project-card p:nth-child(2) {
    margin-top: 1rem;
}

.project-links {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}

.project-list-entry:nth-child(2n + 2) .project-text .project-links {
    justify-content: flex-start;
}

.project-link {
    transition: all 0.2s;
}

.project-link:hover {
    transform: translateY(-1px);
}

.project-link:hover path {
    fill: var(--main-accent) !important;
}

@media (max-width: 750px) {
    .project-media,
    .project-list-entry:nth-child(2n + 2) .project-media {
        filter: brightness(0.5);
        align-self: flex-start;
        grid-area: 1 / 1 / 2 / -1;
    }

    .project-text,
    .project-list-entry:nth-child(2n + 2) .project-text {
        grid-column: 1 / -1;
        text-align: left;
        align-self: center;
        padding: 0.5rem;
    }

    .project-list-entry:nth-child(2n + 2) .project-text .project-links {
        justify-content: flex-end;
    }
}
