:root {
    --dark-blue: #072142;
    --main-red: #ff4d5a;
    --off-white: rgb(180, 178, 178);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
    color: white;
}

#root {
    position: relative;
}

html {
    scroll-behavior: smooth;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

ul {
    list-style-type: none;
}

.main-bg {
    position: fixed;
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, #072142);
    height: 100vh;
    width: 100%;
    z-index: 0;
}
