:root {
    --main-white: #fdfcef;
    --main-accent: #5cd783;
    --off-white: #bdbcb1;
    --main-bg: #030302;
    --lighter-bg: #1b1b1b;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: var(--off-white);
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: var(--main-bg);
    width: 100%;
    line-height: 1.4;
}

#root {
    position: relative;
    height: 100vh;
}

main {
    position: relative;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    margin: 0px auto;
    padding: 0 150px;
    transition: filter 0.4s ease-in-out;
}

section {
    position: relative;
    min-height: 100vh;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0px auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    font-size: clamp(14px, 5vw, 16px);
    background-color: transparent;
    border: 1px solid var(--main-accent);
    border-radius: 5px;
    color: var(--main-white);
    font-family: "Roboto Mono";
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #142f1c;
}

.inline-btn {
    border: none;
}

.inline-btn:hover {
    background-color: transparent;
    text-decoration: 1px underline var(--main-accent);
}

h1 {
    font-size: clamp(40px, 8vw, 76px);
    font-weight: 500;
    line-height: 1;
}

h2 {
    font-size: clamp(26px, 6vw, 32px);
}

h3 {
    font-size: clamp(22px, 5vw, 28px);
}

.section-header {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.section-header::after {
    content: "";
    display: block;
    position: relative;
    top: 0px;
    width: 400px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--off-white);
}

p {
    font-size: clamp(16px, 7vw, 18px);
}

.p-smaller-text {
    font-size: clamp(14px, 5vw, 16px);
}

.grey-text {
    color: var(--off-white);
}

.serif {
    font-family: "Roboto Mono";
}

.main-accent {
    color: var(--main-accent);
}

.bright {
    color: var(--main-white);
}

@media (max-width: 1050px) {
    main {
        padding: 0 100px;
    }
}

@media (max-width: 750px) {
    main {
        padding: 0 50px;
    }
}

@media (max-width: 475px) {
    main {
        padding: 0 25px;
    }
}
