@import "./_header";
@import "./_home";

$dark-blue: #072142;
$main-red: #FF4D5A;
$off-white: rgb(180, 178, 178);

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Didact Gothic", sans-serif;
    color: white;
}

#root {
    position: relative;
}

html {
    scroll-behavior: smooth;
}

.main-bg {
    position: fixed;
    background: linear-gradient(to top, rgba(2,0,36,1) 0%, $dark-blue);
    height: 100vh;
    width: 100%;
    z-index: 0;
}